#!/bin/bash

# direnv
# Will automatically load .envrc if you enter the directory and load your dev tools

# Automatically activate poetry virtualenv
if [[ -f "pyproject.toml" ]]; then
    # create venv if it doesn't exist; then print the path to this virtualenv
    export VIRTUAL_ENV=$(poetry run true && poetry env info --path)
    if [[ "$VIRTUAL_ENV" != "" ]] ; then
        export POETRY_ACTIVE=1
        PATH_add "$VIRTUAL_ENV/bin"
        echo "Activated Poetry virtualenv: $(basename "$VIRTUAL_ENV")"
    fi
fi
